In [8]:
import pandas as pd
# Read the entire file into a DataFrame
df = pd.read_csv("vdjdb.txt", delimiter='\t')  # Assuming the file is tab-delimited, adjust if needed

# Display the DataFrame
df.columns.values

array(['complex.id', 'gene', 'cdr3', 'v.segm', 'j.segm', 'species',
       'mhc.a', 'mhc.b', 'mhc.class', 'antigen.epitope', 'antigen.gene',
       'antigen.species', 'reference.id', 'method', 'meta', 'cdr3fix',
       'vdjdb.score', 'web.method', 'web.method.seq', 'web.cdr3fix.nc',
       'web.cdr3fix.unmp'], dtype=object)

In [9]:
df = df[['complex.id', 'gene', 'cdr3', 'v.segm', 'j.segm', 'species',
       'mhc.a', 'mhc.b', 'mhc.class', 'antigen.epitope', 'antigen.gene',
       'antigen.species','vdjdb.score', 'meta']]

In [59]:
df['species'].unique()

array(['HomoSapiens', 'MusMusculus', 'MacacaMulatta'], dtype=object)

In [60]:
pd.set_option('display.max_colwidth', None)
df[['meta']].head(3)

                                                                                                                                                                                                                                                                                                                                                                         meta
0       {"cell.subset": "CD8+", "clone.id": "", "donor.MHC": "HLA-A*02:01,HLA-A*24:02;HLA-B*08:01,HLA-B*5701;HLA-Cw*06:02,HLA-Cw*07:01;HLA-DRB*07:01,HLA-DRB*13:01", "donor.MHC.method": "", "epitope.id": "", "replica.id": "", "samples.found": 1, "structure.id": "", "studies.found": 1, "study.id": "", "subject.cohort": "HIV+", "subject.id": "005", "tissue": "PBMC"}
1       {"cell.subset": "CD8+", "clone.id": "", "donor.MHC": "HLA-A*02:01,HLA-A*24:02;HLA-B*08:01,HLA-B*5701;HLA-Cw*06:02,HLA-Cw*07:01;HLA-DRB*07:01,HLA-DRB*13:01", "donor.MHC.method": "", "epitope.id": "", "replica.id": "", "samples.found": 1, "structure.id": "", "studies.found": 1, "study.id": "", "subject.cohort": "HIV+", "subject.id": "005", "tissue": "PBMC"}
2  {"cell.subset": "CD8+", "clone.id": "", "donor.MHC": "HLA-A*01:01,HLA-A*02:01;HLA-B*08:01,HLA-B*57:01;HLA-Cw*06:02,HLA-Cw*07:01;HLA-DRB*08:03:2,HLA-DRB*15:01:1", "donor.MHC.method": "", "epitope.id": "", "replica.id": "", "samples.found": 1, "structure.id": "", "studies.found": 1, "study.id": "", "subject.cohort": "HIV+", "subject.id": "065", "tissue": "PBMC"}

In [61]:
pd.reset_option('display.max_colwidth')

filtered_df = df[df['complex.id'] == 4]
filtered_df.head(5)

,complex.id,gene,cdr3,v.segm,j.segm,species,mhc.a,mhc.b,mhc.class,antigen.epitope,antigen.gene,antigen.species,vdjdb.score,meta
7,4,TRA,CAYRPPGTYKYIF,TRAV38-2/DV8*01,TRAJ40*01,HomoSapiens,HLA-B*08,B2M,MHCI,FLKEKGGL,Nef,HIV-1,2,"{""cell.subset"": ""CD8+"", ""clone.id"": """", ""donor..."
8,4,TRB,CASSALASLNEQFF,TRBV14*01,TRBJ2-1*01,HomoSapiens,HLA-B*08,B2M,MHCI,FLKEKGGL,Nef,HIV-1,2,"{""cell.subset"": ""CD8+"", ""clone.id"": """", ""donor..."

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92771 entries, 0 to 92770
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   complex.id       92771 non-null  int64
 1   gene             92771 non-null  object
 2   cdr3             92771 non-null  object
 3   v.segm           92670 non-null  object
 4   j.segm           91626 non-null  object
 5   species          92771 non-null  object
 6   mhc.a            92771 non-null  object
 7   mhc.b            92771 non-null  object
 8   mhc.class        92771 non-null  object
 9   antigen.epitope  92771 non-null  object
 10  antigen.gene     92709 non-null  object
 11  antigen.species  92771 non-null  object
 12  vdjdb.score      92771 non-null  int64
 13  meta             92771 non-null  object
dtypes: int64(2), object(12)
memory usage: 9.9+ MB

In [63]:
df.dtypes

complex.id          int64
gene               object
cdr3               object
v.segm             object
j.segm             object
species            object
mhc.a              object
mhc.b              object
mhc.class          object
antigen.epitope    object
antigen.gene       object
antigen.species    object
vdjdb.score         int64
meta               object
dtype: object

In [64]:
df.shape

(92771, 14)

In [65]:
# Number of duplicate rows
duplicate_rows_df = df[df.duplicated()]
duplicate_rows_df.shape

(280, 14)

In [66]:
df.count()

complex.id         92771
gene               92771
cdr3               92771
v.segm             92670
j.segm             91626
species            92771
mhc.a              92771
mhc.b              92771
mhc.class          92771
antigen.epitope    92771
antigen.gene       92709
antigen.species    92771
vdjdb.score        92771
meta               92771
dtype: int64

### Dropping duplicate columns

In [67]:
# Drop duplicate rows
df=df.drop_duplicates()
df.shape

(92491, 14)

### Dropping missing and null value

In [68]:
print(df.isnull().sum())

complex.id            0
gene                  0
cdr3                  0
v.segm               99
j.segm             1141
species               0
mhc.a                 0
mhc.b                 0
mhc.class             0
antigen.epitope       0
antigen.gene         62
antigen.species       0
vdjdb.score           0
meta                  0
dtype: int64

In [69]:
df=df.dropna()
df.shape

(91274, 14)

**After dropping null value**
* Bulleted

In [70]:
print(df.isnull().sum())

complex.id         0
gene               0
cdr3               0
v.segm             0
j.segm             0
species            0
mhc.a              0
mhc.b              0
mhc.class          0
antigen.epitope    0
antigen.gene       0
antigen.species    0
vdjdb.score        0
meta               0
dtype: int64

<div class="alert alert-block alert-info">
<b>Tip:</b> Use blue boxes (alert-info) for tips and notes. 
If it’s a note, you don’t have to include the word “Note”.
</div>

<div class="alert alert-block alert-warning">
<b>Example:</b> Use yellow boxes for examples that are not 
inside code cells, or use for mathematical formulas if needed.
</div>

>**## Exploring the data ##**

In [71]:
# Specify the substring to search for
# pd.set_option('display.max_colwidth', None)
pd.reset_option('display.max_colwidth')
substring = 'CD8+'

# Use boolean indexing to filter rows containing the substring in 'Description'
filtered_df = df[df['meta'].str.contains(substring, case=False, na=False)]

filtered_df[filtered_df['mhc.class']=='MHCII'].head(3)

,complex.id,gene,cdr3,v.segm,j.segm,species,mhc.a,mhc.b,mhc.class,antigen.epitope,antigen.gene,antigen.species,vdjdb.score,meta
5309,0,TRB,CASSKLASTAGEQYF,TRBV2*01,TRBJ2-7*01,HomoSapiens,HLA-DRA*01:01,HLA-DRB1*11:01,MHCII,DRFYKTLRAEQASQEV,Gag,HIV-1,1,"{""cell.subset"": ""CD8+"", ""clone.id"": """", ""donor..."
5310,0,TRB,CASSGGQETQYF,TRBV14*01,TRBJ2-5*01,HomoSapiens,HLA-DRA*01:01,HLA-DRB1*01:01,MHCII,LNKIVRMYSPTSILD,Gag,HIV-1,1,"{""cell.subset"": ""CD8+"", ""clone.id"": """", ""donor..."
5311,0,TRB,CASSWDSNYGYTF,TRBV5-5*01,TRBJ1-2*01,HomoSapiens,HLA-DRA*01:01,HLA-DRB1*01:01,MHCII,DRFYKTLRAEQASQEV,Gag,HIV-1,1,"{""cell.subset"": ""CD8+"", ""clone.id"": """", ""donor..."

##  TCRDist3

In [10]:
df_dash = pd.read_csv("https://raw.githubusercontent.com/kmayerb/tcrdist2/API2/tcrdist/test_files_compact/dash.csv")

In [11]:
df_dash.head(3)

,subject,epitope,count,v_a_gene,j_a_gene,cdr3_a_aa,cdr3_a_nucseq,v_b_gene,j_b_gene,cdr3_b_aa,cdr3_b_nucseq,clone_id
0,mouse_subject0050,PA,2,TRAV7-3*01,TRAJ33*01,CAVSLDSNYQLIW,tgtgcagtgagcctcgatagcaactatcagttgatctgg,TRBV13-1*01,TRBJ2-3*01,CASSDFDWGGDAETLYF,tgtgccagcagtgatttcgactggggaggggatgcagaaacgctgt...,mouse_tcr0072.clone
1,mouse_subject0050,PA,6,TRAV6D-6*01,TRAJ56*01,CALGDRATGGNNKLTF,tgtgctctgggtgacagggctactggaggcaataataagctgactttt,TRBV29*01,TRBJ1-1*01,CASSPDRGEVFF,tgtgctagcagtccggacaggggtgaagtcttcttt,mouse_tcr0096.clone
2,mouse_subject0050,PA,1,TRAV6D-6*01,TRAJ49*01,CALGSNTGYQNFYF,tgtgctctgggctcgaacacgggttaccagaacttctatttt,TRBV29*01,TRBJ1-5*01,CASTGGGAPLF,tgtgctagcacagggggaggggctccgcttttt,mouse_tcr0276.clone

## Installing tcrdist3 package ##

In [38]:
# pip install tcrdist3
# installing tcrdist3

Requirement already satisfied: tcrdist3 in /opt/anaconda3/lib/python3.9/site-packages (0.2.2)
Requirement already satisfied: scipy>=1.4.1 in /opt/anaconda3/lib/python3.9/site-packages (from tcrdist3) (1.9.1)
Requirement already satisfied: zipdist>=0.1.5 in /opt/anaconda3/lib/python3.9/site-packages (from tcrdist3) (0.1.5)
Requirement already satisfied: olga>=1.2.1 in /opt/anaconda3/lib/python3.9/site-packages (from tcrdist3) (1.2.4)
Requirement already satisfied: pwseqdist>=0.6 in /opt/anaconda3/lib/python3.9/site-packages (from tcrdist3) (0.6)
Requirement already satisfied: numba in /opt/anaconda3/lib/python3.9/site-packages (from tcrdist3) (0.55.1)
Requirement already satisfied: palmotif>=0.2 in /opt/anaconda3/lib/python3.9/site-packages (from tcrdist3) (0.4)
Requirement already satisfied: parasail>=1.1.17 in /opt/anaconda3/lib/python3.9/site-packages (from tcrdist3) (1.3.4)
Requirement already satisfied: tcrsampler>=0.1.9 in /opt/anaconda3/lib/python3.9/site-packages (from tcrdist3) (0.1.9)
Requirement already satisfied: hierdiff>=0.4 in /opt/anaconda3/lib/python3.9/site-packages (from tcrdist3) (0.9)
Requirement already satisfied: dill>=0.3.2 in /opt/anaconda3/lib/python3.9/site-packages (from tcrdist3) (0.3.4)
Requirement already satisfied: fishersapi in /opt/anaconda3/lib/python3.9/site-packages (from tcrdist3) (0.5)
Requirement already satisfied: parmap>=1.5.2 in /opt/anaconda3/lib/python3.9/site-packages (from tcrdist3) (1.7.0)
Requirement already satisfied: numpy>=1.16.4 in /opt/anaconda3/lib/python3.9/site-packages (from tcrdist3) (1.21.5)
Requirement already satisfied: pandas>=0.24.2 in /opt/anaconda3/lib/python3.9/site-packages (from tcrdist3) (1.4.4)
Requirement already satisfied: joblib>=0.16 in /opt/anaconda3/lib/python3.9/site-packages (from hierdiff>=0.4->tcrdist3) (1.1.0)
Requirement already satisfied: jinja2>=2.10.1 in /opt/anaconda3/lib/python3.9/site-packages (from hierdiff>=0.4->tcrdist3) (2.11.3)
Requirement already satisfied: statsmodels>=0.10 in /opt/anaconda3/lib/python3.9/site-packages (from hierdiff>=0.4->tcrdist3) (0.13.2)
Requirement already satisfied: fisher in /opt/anaconda3/lib/python3.9/site-packages (from fishersapi->tcrdist3) (0.1.14)
Requirement already satisfied: svgwrite in /opt/anaconda3/lib/python3.9/site-packages (from palmotif>=0.2->tcrdist3) (1.4.3)
Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.9/site-packages (from palmotif>=0.2->tcrdist3) (3.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.2->tcrdist3) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.2->tcrdist3) (2022.1)
Requirement already satisfied: progress>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from tcrsampler>=0.1.9->tcrdist3) (1.6)
Requirement already satisfied: feather-format>=0.4.1 in /opt/anaconda3/lib/python3.9/site-packages (from zipdist>=0.1.5->tcrdist3) (0.4.1)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.9/site-packages (from numba->tcrdist3) (63.4.1)
Requirement already satisfied: llvmlite<0.39,>=0.38.0rc1 in /opt/anaconda3/lib/python3.9/site-packages (from numba->tcrdist3) (0.38.0)
Requirement already satisfied: pyarrow>=0.4.0 in /opt/anaconda3/lib/python3.9/site-packages (from feather-format>=0.4.1->zipdist>=0.1.5->tcrdist3) (15.0.0)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/anaconda3/lib/python3.9/site-packages (from jinja2>=2.10.1->hierdiff>=0.4->tcrdist3) (2.0.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.24.2->tcrdist3) (1.16.0)
Requirement already satisfied: packaging>=21.3 in /opt/anaconda3/lib/python3.9/site-packages (from statsmodels>=0.10->hierdiff>=0.4->tcrdist3) (21.3)
Requirement already satisfied: patsy>=0.5.2 in /opt/anaconda3/lib/python3.9/site-packages (from statsmodels>=0.10->hierdiff>=0.4->tcrdist3) (0.5.2)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib->palmotif>=0.2->tcrdist3) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib->palmotif>=0.2->tcrdist3) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib->palmotif>=0.2->tcrdist3) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib->palmotif>=0.2->tcrdist3) (1.4.2)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib->palmotif>=0.2->tcrdist3) (4.25.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
from tcrdist.repertoire import TCRrep
tr = TCRrep(cell_df = df_dash, 
            organism = 'mouse', 
            chains = ['alpha','beta'], 
            db_file = 'alphabeta_gammadelta_db.tsv')

tr.pw_alpha
# tr.pw_beta
# tr.pw_cdr3_a_aa
# tr.pw_cdr3_b_aa

array([[  0,  98,  85, ..., 122, 122, 108],
       [ 98,   0,  82, ..., 117, 117, 134],
       [ 85,  82,   0, ..., 119, 119, 144],
       ...,
       [122, 117, 119, ...,   0,  12, 118],
       [122, 117, 119, ...,  12,   0, 130],
       [108, 134, 144, ..., 118, 130,   0]], dtype=int16)

In [16]:
tr = TCRrep(cell_df = df_dash,
            organism = 'mouse',
            chains = ['alpha','beta'],
            db_file = 'alphabeta_gammadelta_db.tsv',
            compute_distances = False)

tr.cpus = 2
tr.compute_sparse_rect_distances(radius = 50, chunk_size = 100)
tr.rw_beta
# """<1920x1920 sparse matrix of type '<class 'numpy.int16'>'
# with 108846 stored elements in Compressed Sparse Row format>
# """
# print(tr.rw_beta)

  0%|          | 0/20 [00:00<?, ?it/s]

  0%|          | 0/20 [00:00<?, ?it/s]

<1920x1920 sparse matrix of type '<class 'numpy.int16'>'
	with 108846 stored elements in Compressed Sparse Row format>

In [17]:
print(tr.rw_beta)

  (0, 0)	-1
  (1, 1)	-1
  (1, 470)	24
  (1, 472)	24
  (2, 2)	-1
  (2, 9)	48
  (2, 18)	39
  (2, 21)	36
  (2, 49)	12
  (2, 73)	12
  (2, 94)	42
  (2, 115)	36
  (2, 116)	24
  (2, 117)	24
  (2, 139)	36
  (2, 140)	36
  (2, 141)	39
  (2, 150)	39
  (2, 171)	36
  (2, 195)	48
  (2, 201)	12
  (2, 202)	33
  (2, 211)	36
  (2, 212)	36
  (2, 218)	36
  :	:
  (1919, 1456)	48
  (1919, 1545)	48
  (1919, 1615)	48
  (1919, 1667)	41
  (1919, 1674)	24
  (1919, 1680)	48
  (1919, 1683)	48
  (1919, 1685)	24
  (1919, 1689)	50
  (1919, 1696)	24
  (1919, 1858)	48
  (1919, 1866)	38
  (1919, 1868)	43
  (1919, 1869)	12
  (1919, 1884)	50
  (1919, 1886)	48
  (1919, 1892)	38
  (1919, 1894)	50
  (1919, 1905)	24
  (1919, 1909)	33
  (1919, 1910)	49
  (1919, 1911)	24
  (1919, 1912)	38
  (1919, 1918)	12
  (1919, 1919)	-1

## Preprocess vdjdb.text data frame for tcrdist3

In [20]:
df.columns.values

array(['complex.id', 'gene', 'cdr3', 'v.segm', 'j.segm', 'species',
       'mhc.a', 'mhc.b', 'mhc.class', 'antigen.epitope', 'antigen.gene',
       'antigen.species', 'vdjdb.score', 'meta'], dtype=object)

In [21]:
df = df[['complex.id', 'gene', 'cdr3', 'v.segm', 'j.segm', 'species']]

In [45]:
df.head(3)

   complex.id gene                  cdr3       v.segm      j.segm      species
0           1  TRA         CIVRAPGRADMRF  TRAV26-1*01   TRAJ43*01  HomoSapiens
1           1  TRB  CASSYLPGQGDHYSNQPQHF    TRBV13*01  TRBJ1-5*01  HomoSapiens
2           0  TRB   CASSFEAGQGFFSNQPQHF    TRBV13*01  TRBJ1-5*01  HomoSapiens

# Separating data set in to alpha and beta dataframe

In [55]:
import pandas as pd

# Assuming df is your original dataframe
# Create separate dataframes for alpha and beta chains
df_alpha = df[df['gene'] == 'TRA'].rename(columns={'cdr3': 'cdr3_a_aa', 'v.segm': 'v_a_gene', 'j.segm': 'j_a_gene'})
df_beta = df[df['gene'] == 'TRB'].rename(columns={'cdr3': 'cdr3_b_aa', 'v.segm': 'v_b_gene', 'j.segm': 'j_b_gene'})

In [53]:
df_alpha.reset_index(drop=True, inplace=True)

In [54]:
df_alpha

,complex.id,gene,cdr3_a_aa,v_a_gene,j_a_gene,species
0,1,TRA,CIVRAPGRADMRF,TRAV26-1*01,TRAJ43*01,HomoSapiens
1,2,TRA,CAVPSGAGSYQLTF,TRAV20*01,TRAJ28*01,HomoSapiens
2,3,TRA,CAVKASGSRLT,TRAV2*01,NaN,HomoSapiens
3,4,TRA,CAYRPPGTYKYIF,TRAV38-2/DV8*01,TRAJ40*01,HomoSapiens
4,5,TRA,CIVRAPGRADMRF,TRAV26-1*01,TRAJ43*01,HomoSapiens
...,...,...,...,...,...,...
38044,30590,TRA,CMDEGGSNYKLTF,TRAV26-1*01,TRAJ53*01,HomoSapiens
38045,30591,TRA,CSLYNNNDMRF,TRAV26-1*01,TRAJ43*01,HomoSapiens
38046,30592,TRA,CALSTDSWGKLQF,TRAV6*01,TRAJ24*01,HomoSapiens
38047,30593,TRA,CAPQGATNKLIF,TRAV12-2*01,TRAJ32*01,HomoSapiens
38048,30594,TRA,CLVGGSGGYNKLIF,TRAV4*01,TRAJ4*01,HomoSapiens

In [30]:
df_alpha['species'].unique()

array(['HomoSapiens', 'MusMusculus', 'MacacaMulatta'], dtype=object)

# Removing mouse and monkey

In [62]:
df_alpha = df_alpha[~df_alpha['species'].isin(['MusMusculus', 'MacacaMulatta'])]

In [64]:
df_alpha['species'].unique()

array(['HomoSapiens'], dtype=object)

In [36]:
df_alpha.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35643 entries, 0 to 92769
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   complex.id  35643 non-null  int64
 1   gene        35643 non-null  object
 2   cdr3_a_aa   35643 non-null  object
 3   v_a_gene    35639 non-null  object
 4   j_a_gene    34754 non-null  object
 5   species     35643 non-null  object
 6   count       35643 non-null  int64
dtypes: int64(2), object(5)
memory usage: 2.2+ MB

## Dropping null values

In [65]:
df_alpha=df_alpha.dropna()
print(df_alpha.isnull().sum())

complex.id    0
gene          0
cdr3_a_aa     0
v_a_gene      0
j_a_gene      0
species       0
dtype: int64

## Dropping duplicates

In [66]:
df_alpha=df_alpha.drop_duplicates()
df_alpha.shape

(33939, 6)

## Run TCRDist on alpha gene dataset

In [43]:
from tcrdist.repertoire import TCRrep
tr = TCRrep(cell_df = df_alpha, 
            organism = 'human', 
            chains = ['alpha'], 
            db_file = 'alphabeta_gammadelta_db.tsv',
            compute_distances=False)
tr.cpus=2
tr.compute_sparse_rect_distances(radius = 50, chunk_size = 100)
tr.rw_alpha

  0%|          | 0/340 [00:00<?, ?it/s]

<33939x33939 sparse matrix of type '<class 'numpy.int16'>'
	with 3076083 stored elements in Compressed Sparse Row format>

In [44]:
print(tr.rw_alpha)

  (0, 0)	-1
  (0, 3989)	48
  (0, 4088)	48
  (0, 4132)	48
  (0, 10748)	45
  (0, 11827)	48
  (0, 14916)	45
  (0, 15870)	48
  (0, 21126)	48
  (0, 25630)	45
  (0, 26708)	48
  (0, 27577)	45
  (1, 1)	-1
  (1, 334)	47
  (1, 1392)	33
  (1, 2652)	47
  (1, 2906)	50
  (1, 2964)	-1
  (1, 3330)	36
  (1, 3343)	24
  (1, 3660)	36
  (1, 3824)	36
  (1, 4051)	33
  (1, 4061)	36
  (1, 4077)	36
  :	:
  (33938, 27249)	48
  (33938, 27725)	48
  (33938, 27915)	36
  (33938, 28568)	21
  (33938, 29487)	21
  (33938, 29490)	45
  (33938, 29543)	48
  (33938, 29551)	48
  (33938, 29706)	36
  (33938, 30657)	24
  (33938, 30658)	24
  (33938, 30660)	36
  (33938, 31640)	48
  (33938, 31837)	48
  (33938, 32563)	24
  (33938, 32899)	36
  (33938, 32954)	48
  (33938, 33294)	48
  (33938, 33705)	48
  (33938, 33714)	48
  (33938, 33815)	36
  (33938, 33912)	9
  (33938, 33913)	-1
  (33938, 33914)	-1
  (33938, 33938)	-1